# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp

# possible log files
*.txt
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

hrl
dist
*safe_to_delete*
*safe-to-delete*
.DS_Store
.vscode/
vendor/
tests
.idea/
